//===========
// VARIABLES
//===========
$bg: #003dad;
$navbar: #0940a51c;
$text: #ffffff;
$accent: #00b7ff;
$font-primary: 'Inter', sans-serif;
$btn: #0940a5;       
$btn-hover: #001a38; 
$btn-fondo: #001d242f;
$lenguaje-fondo: #50505080;
$fondo-body: url("../img/Fondo-Body.jpg");

//========
// BASICO
//========
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: $text;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: $text;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: $text;
}
h3 {
  font-size: 1.4rem;
  font-weight: 300;
  color: $text;
}
h4 {
  font-size: 1.2rem;
  font-weight: 100;
  color: $text;
}

p {
  font-size: .9rem;
  color: $text;
}

body {
  background-image: $fondo-body;
  font-family: $font-primary;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-image: $fondo-body;
  margin: 0;
}
//========
// MIXINS
//========
@mixin neo($depth, $radius, $blur) {
  background: $bg;
  border-radius: $radius;
  box-shadow:
    inset  ($depth)  ($depth)  ($blur * 0.6) rgba(0, 0, 0, 0.25),
    inset  (-$depth) (-$depth)  ($blur * 0.6) rgba(255, 255, 255, 0.1),
}
@mixin Base-Text {
  color: $text;
  font-family: $font-primary;

}
@mixin buton {
  @include neo(1em, 1em, 1em);
      color: $text;
      justify-content: center;
      align-items: center;
      width: 15em;
      height: 2em;
      border-radius: 20px;
      border: none;
      background-color: $btn;
      margin-bottom: 10px;

}
@mixin link {
  width: 2.4em;
  height: 2.1em;
  border-radius: 15px;
  border: 2px solid;
  background-color: $btn-fondo;
  border-color: $btn-hover;
}

//==============
// PRECENTACION
//==============
.presentacion {
  padding-left: 15px;
  padding-top: 4em;
  display: flex;
  justify-content: center;
  gap: 2em;
  .img {
    width: 10em;
    height: 11em;
    border-radius: 60%;
    object-fit: cover;
  }
  .titulo,
  .subtitulo,
  p {
    @include Base-Text()
  }
  .gmail {
      gap: .3em;
      display: flex;
      @include buton();
      @include neo(1em, 1em, 1em);
      p{
        padding-top: 17px;
      }
    }

  .links {
    @include link();
    p {
      color: white;
    }
    i {
    font-size: 20px;
    color: $btn;
    }
  }
}

.descripcion {
  padding-top: .7em;
  width: 50%;
  justify-content: center;
  margin: 0 auto;

  @media screen and (max-width: 850px) {
    width: 90%;
  }
}
.divisor {
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255,255,255, 1),
    transparent
  );
  margin: 1rem 0;
}

.tecnologias {
  margin: 0 auto;
  width: 50%;
  .gmail {
      gap: .5em;
      @include buton(); 
      @include neo(1em, 1em, 1em);
      p{
        @include Base-Text();
        padding-top: 17px;
      }
    }
  @media screen and (max-width: 850px) {
    width: 90%;
  }
  h2 {
    margin-bottom: .7em;
  }

}
//curriculum


.cv-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.cv-modal.active {
  opacity: 1;
  pointer-events: auto;
}

.cv-content {
  position: relative;

  img {
    max-width: 100vw;
    max-height: 95vh;
    border-radius: 12px;
  }

}


.cv-close {
  position: absolute;
  top: -10px;
  right: -10px;

  width: 35px;
  height: 35px;

  border: none;
  border-radius: 50%;
  cursor: pointer;

  background: #000;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}


//===========
// PROYECTOS
//===========

.proyectos {
  width: 50%;
  margin: 25px auto 4rem;
  gap: 2rem;

  @media screen and (max-width: 850px) {
    width: 90%;
  }
}

//===============
// CADA PROYECTO
//===============
.proyecto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;

  @media screen and (max-width: 850px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Texto */
.proyecto-texto {
  width: 60%;

  p {
    width: 100%;
    @include Base-Text();
    padding-top: 17px;
  }

  @media screen and (max-width: 850px) {
    width: 100%;
  }
}

/* Botón título */
.gmail {
  margin-top: 10px;
  gap: .5em;
  @include buton();
  @include neo(1em, 1em, 1em);
}

/* Lenguajes */
.stack {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.lenguajes {
  gap: .5em;
  margin-bottom: 8px;
  width: 6em;
  text-align: center;
  justify-content: center;
  font-size: 8px;
  background-color: $lenguaje-fondo;
  border-radius: 20px;
  border: none;
  color: $text;
}

/* Links */
.acciones {
  display: flex;
  gap: .5rem;
  margin-top: .5rem;
}

.links {
  @include link();
  gap: .1em;

  i {
    font-size: 20px;
    color: $btn;
  }
}

/* Imagen */
.proyecto-img {
  width: 20em;
  border-radius: 12px;
  margin-left: 5em;
  @media screen and (max-width: 860px) {
    margin-left: 12em;
    width: 25em;
  }
}


.Formacion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  h2 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  h5 {
    color: $text
  }
  .formacion-logo{
      @include neo(1em, 1em, 1em);
      color: $text;
      justify-content: center;
      align-items: center;
      width: 3em;
      height: 2em;
      font-size: 30px;
      border-radius: 30px;
      border: none;
      background-color: $btn;
      margin-bottom: 10px;
  }
}



//========
// FOOTER
//========

.footer {
  background-color: transparent;
  color: $text;
  .contacto {
      @include neo(1em, 1em, 1em);
      align-items: center;
      justify-content: center;
      color: $text;
      justify-content: center;
      align-items: center;
      width: 3em;
      height: 1em;
      font-size: 30px;
      border-radius: 20px;
      border: none;
      background-color: $btn;
      margin-bottom: 10px;
      font-weight: none;
      i {
        font-size: 25px;
        font-weight: none;
        align-items: center;
        justify-content: center;
        display: flex;
      }
      &:hover {
        background-color: $accent;
        transition: all .4s ease;
      }
  }
}